/* global */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #e3e6ec;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}
.active {
  color: #ff357a;
  transition: 300ms;
  border-bottom: 2px solid #ff357a;
}

/* _______________________ */

.navHideDesktop {
  display: none;
}

.closeBtn {
  display: none;
}

.btnMenu {
  display: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
}

.headerWrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #ff298b, #ff692f);
}
.sWord,
.andSgin,
.pWord {
  color: #fff;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}
.sWord {
  font-size: 20px;
  margin-top: -12px;
  margin-right: -5px;
}
.pWord {
  font-size: 20px;
  margin-bottom: -12px;
  margin-left: -5px;
}

.navWrapper {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
}

.navWrapper li:nth-child(4) {
  margin-right: -30px;
}

.navWrapper li a {
  color: #afb0bb;
  font-size: 12px;
  transition: 300ms;
  padding: 0 0 20px 0;
}

.navWrapper li a:hover {
  color: #ff357a;
  transition: 300ms;
  border-bottom: 2px solid #ff357a;
}

.active {
  color: #ff357a;
  transition: 300ms;
  border-bottom: 2px solid #ff357a;
}

.mainWrapper {
  width: 90%;
  height: 65vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  background-image: url(./images/box.png);
  background-repeat: no-repeat;
  background-size: 700px 550px;
  background-position: 40vw;
}
.mainTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mainTextWrapper h1 {
  width: 100%;
  white-space: nowrap;
}
.placeHolder {
  width: 100%;
}

.heroImage {
  padding-top: 30px;
  width: 800px;
  margin-right: -65px;
}

.section1 {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 40px 0;
}

.cardWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  gap: 20px;
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 0px 4px 3px rgb(0 0 255 / 10%);
}

.cardItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.cardItem li {
  width: 100%;
  border-bottom: 1px dashed #afb0bb;
  padding-bottom: 15px;
}

.section2 {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 40px 0;
}

.sectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.sectionContentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.headlinWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.headlinWrapper h3 {
  width: 100%;
  justify-self: flex-start;
}
.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.563);
}

.contentLinksItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  gap: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.563);
}

.contentLinksItems li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.563);
  width: 100%;
  padding: 10px;
}
.contentLinksItems li a:hover {
  cursor: pointer;
  color: #ff298b;
}

.contentItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  gap: 15px;
}
.contentItems li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.563);
  width: 100%;
  padding: 10px;
}
.subContentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section3 {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("/images/sectionOne.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0;
}

.section3container {
  width: 90%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.section3Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 15px;
  font-size: 18px;
}

.section4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/section4.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0;
}

.section4Container {
  width: 90%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.section4Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  opacity: 0.75;
  gap: 30px;
  padding: 20px;
  border-radius: 20px;
}

.section7 {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #fff;
  padding: 20px 0;
}

.textWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: self-start;
}

.textWrapper h2 {
  font-size: 30px;
}

.addressWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.mailWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.mailWrapper img {
  width: 30px;
}

@media (max-width: 600px) {
  .navHideDesktop {
    display: flex;
  }
  .mobileNavActive {
    display: none;
  }

  .mainWrapper {
    background-size: 350px;
    background-position: 30px;
    font-size: 12px;
    max-width: 100%;
    height: 30vh;
  }

  .mainTextWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .section1 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 40px 0;
  }

  .section3Content {
    background: #ffffff8f;
    padding: 25px;
    border-radius: 10px;
  }

  .cardWrapper {
    width: 100%;
    display: grid;
    grid-template-areas:
      "card1 card2"
      "card3 card3";
    gap: 10px;
  }

  .card {
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }

  .card h3 {
    font-size: 13px;
  }

  .card1 {
    grid-area: card1;
    height: 100%;
  }

  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }

  .navWrapper {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
    position: absolute;
    background: #e3e6ec;
    right: 0;
    top: 0;
    padding: 40px 20px;
    height: 100%;
    z-index: 5;
    transition: 300ms;
  }

  .btnMenu {
    width: 35px;
    display: flex;
  }

  .navWrapperMobileActive {
    display: flex;
  }

  .navWrapperMobileSlidOut {
    transform: translateX(380px);
  }
  .navWrapperMobileSlidIn {
    transform: translateX(0px);
  }

  .navWrapper li {
    width: 100%;
    padding: 10px;
  }

  .closeBtn {
    display: block;
    color: #afb0bb;
  }

  .section7 {
    flex-direction: column;
    gap: 15px;
  }
  .textWrapper {
    flex-direction: row;
  }
}
